*{
    box-sizing: border-box;
}

.pageContainer{
    border-radius: 5px;
    box-shadow: 0px 5px 5px gray;
    background-color: #6495ED;
    padding: 30px;
    margin: 10px;  
}

pre {
    white-space: pre-wrap;
    text-align: start;
    margin: 5% 8%;
}