@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Kalam', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-image: url("../public/images/bgimg.jpg");
  background-color: black;
  background-size: "cover";
  height: "100vh";
  color: "#f5f5f5";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}